[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-airline-themes"]
	path = pack/bundle/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/bundle/start/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/bundle/start/typescript-vim"]
	path = pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/bundle/start/scalpel"]
	path = pack/bundle/start/scalpel
	url = https://github.com/wincent/scalpel.git
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/bundle/start/comfortable-motion"]
	path = pack/bundle/start/comfortable-motion
	url = https://github.com/yuttie/comfortable-motion.vim.git
[submodule "pack/bundle/start/anyfold"]
	path = pack/bundle/start/anyfold
	url = https://github.com/pseewald/vim-anyfold.git
[submodule "pack/bundle/start/vim-signify"]
	path = pack/bundle/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/bundle/start/vim-jsx-pretty"]
	path = pack/bundle/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/bundle/start/ack.vim"]
	path = pack/bundle/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
