[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-airline-themes"]
	path = pack/bundle/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/bundle/start/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/bundle/start/scalpel"]
	path = pack/bundle/start/scalpel
	url = https://github.com/wincent/scalpel.git
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/bundle/start/comfortable-motion"]
	path = pack/bundle/start/comfortable-motion
	url = https://github.com/yuttie/comfortable-motion.vim.git
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/bundle/start/vim-jsx-pretty"]
	path = pack/bundle/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/bundle/start/ack.vim"]
	path = pack/bundle/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/bundle/start/coc.vim"]
	path = pack/bundle/start/coc.vim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/bundle/start/vim-nerdtree-syntax-highlight"]
	path = pack/bundle/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "pack/bundle/start/vim-devicons"]
	path = pack/bundle/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/bundle/start/nerdtree-git-plugin"]
	path = pack/bundle/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/bundle/start/YankRing.vim"]
	path = pack/bundle/start/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "pack/bundle/start/markdown-preview.nvim"]
	path = pack/bundle/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
